<h1 class="legal">Datenschutzerklärung</h1>

<section>
  <p>
    Nachfolgend finden Sie Informationen, welche personenbezogenen Daten wir zu welchem Zweck, auf welcher Grundlage für wie lange verarbeiten:
  </p>
</section>

<section>
  <h2 class="legal">Übersicht / Inhaltsverzeichnis</h2>
  In unseren Datenschutzhinweisen finden Sie folgende Informationen:
  <p>
    <h3 class="legal">A. Unsere Kontaktdaten und allgemeines zur Datenverarbeitung durch uns</h3>
    <ul>
      <li><strong>A.1</strong>: Name und Kontaktdaten des Verantwortlichen</li>
      <li><strong>A.2</strong>: Kontaktdaten des Datenschutzbeauftragten</li>
      <li><strong>A.3</strong>: Allgemeines zu den Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</li>
      <li><strong>A.4</strong>: Allgemeines zu Datenlöschung und Speicherdauer</li>
      <li><strong>A.5</strong>: Allgemeines zu den Quellen der personenbezogenen Daten</li>
      <li><strong>A.6</strong>: Empfänger bzw. Kategorien von Empfängern der personenbezogenen Daten</li>
      <li><strong>A.7</strong>: Newsletterversand</li>
      <li><strong>A.8</strong>: Kontaktaufnahme über E-Mail und Telefonanruf</li>
    </ul>
  </p>
  <p>
    <h3 class="legal">B. Umfang der Verarbeitung personenbezogener Daten über unsere Website & Smartphone Apps</h3>
    <ul>
      <li><strong>B.1</strong>: Bereitstellung der Website und Erstellung von Log-Files</li>
      <li><strong>B.2</strong>: Nutzung von Cookies</li>
      <li><strong>B.3</strong>: Login / Registrierung</li>
      <li><strong>B.4</strong>: Bestellung, Kauf von Features</li>
      <li><strong>B.5</strong>: Zahlungsabwicklung auf der Seite</li>
      <li><strong>B.6</strong>: Verschlüsselung der Website und der Kommunikation</li>
      <li><strong>B.7</strong>: Übermittlung personenbezogener Daten an ein Drittland (EU-Ausland)</li>
    </ul>
  </p>
  <p>
    <h3 class="legal">C. Ihre Rechte als Betroffener</h3>
    <ul>
      <li><strong>C.1</strong>: Recht auf Auskunft</li>
      <li><strong>C.2</strong>: Recht auf Berichtigung</li>
      <li><strong>C.3</strong>: Recht auf Löschung</li>
      <li><strong>C.4</strong>: Recht auf Einschränkung der Verarbeitung</li>
      <li><strong>C.5</strong>: Recht auf Unterrichtung </li>
      <li><strong>C.6</strong>: Recht auf Datenübertragbarkeit</li>
      <li><strong>C.7</strong>: Widerspruchsrecht bei Verarbeitung wegen berechtigtem Interesse, sowie gegen Direktwerbung</li>
      <li><strong>C.8</strong>: Widerrufsrecht bei erteilter Einwilligung</li>
      <li><strong>C.9</strong>: Automatisierte Entscheidungsfindung einschließlich Profiling</li>
      <li><strong>C.10</strong>: Freiwilligkeit der Bereitstellung der Daten</li>
      <li><strong>C.11</strong>: Beschwerderecht bei einer Aufsichtsbehörde</li>
    </ul>
  </p>
</section>


<section>
  <h3 class="legal">A. Unsere Kontaktdaten und allgemeines zur Datenverarbeitung durch uns</h3>
  <h4 class="legal">A.1 Name und Kontaktdaten des Verantwortlichen</h4>
  <p>Verantwortlich im Sinne des Datenschutzrechts für die Erhebung und Nutzung personenbezogener Daten ist die</p>
  <p>
    REIZ Solutions GmbH<br/>
    Neckarauer-Waldweg 27<br/>
    D-68199 Mannheim<br/>
  </p>
  <p>
    Gesetzlich vertreten durch den Geschäftsführer Herrn Robert Reiz<br/>
    E-Mail: contact [at] versioneye [dot] com.
  </p>
  <p>
    Weitere Informationen über den Verantwortlichen können Sie dem <%= link_to "Impressum", imprint_path %> entnehmen.
  </p>
</section>


<section>
  <h4 class="legal">A.2 Kontaktdaten des Datenschutzbeauftragten des Verantwortlichen</h4>
  <p>
    Zur Bestellung eines betrieblichen Datenschutzbeauftragten sind wir nicht verpflichtet und wir haben auch freiwillig keinen bestellt. Sie können uns zu allen Themen rund um Datenschutz über die oben genannten Kontaktwege erreichen
  </p>
</section>

<section>
  <h4 class="legal">A.3 Allgemeines zu den Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</h4>
  <p>
    Ganz allgemein gilt für die Verarbeitung personenbezogener Daten durch uns folgendes:
    <ul>
      <li>Soweit wir für Verarbeitungsvorgänge personenbezogener Daten Ihre Einwilligung einholen, dient Art. 6 Abs. 1 Buchstabe a) EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage für die Verarbeitung personenbezogener Daten.</li>
      <li>Bei der Verarbeitung personenbezogener Daten, die zur Erfüllung eines Vertrages mit Ihnen erforderlich ist, dient Art. 6 Abs. 1 Buchstabe  b) DSGVO als Rechtsgrundlage. Das gilt auch schon dann, wenn die Verarbeitung zur Durchführung vorvertraglicher Maßnahmen erforderlich ist, also beispielsweise bei Bestellungen, Angeboten, Vertragsverhandlungen.</li>
      <li>Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, der wir unterliegen, dient Art. 6 Abs. 1 Buchstabe  c) DSGVO als Rechtsgrundlage.</li>
      <li>Für den Fall, dass Ihre lebenswichtigen Interessen oder die einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 Buchstabe d) DSGVO als Rechtsgrundlage.</li>
      <li>Falls die Verarbeitung Ihrer personenbezogenen Daten für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die uns übertragen wurde, geschieht dies aufgrund der Rechtsgrundlage des Art. 6 Abs. 1 Buchstabe e) DSGVO.</li>
      <li>Ist die Verarbeitung zur Wahrung eines berechtigten Interesses von uns oder eines Dritten erforderlich und überwiegen Ihre Interessen, Grundrechte und Grundfreiheiten dieses Interesse nicht, dient Art. 6 Abs. 1 Buchstabe f) DSGVO als Rechtsgrundlage für die Verarbeitung.</li>
    </ul>
  </p>
</section>

<section>
  <h4 class="legal">A.4 Allgemeines zu Datenlöschung und Speicherdauer</h4>
  <p>
    Die personenbezogenen Daten werden von uns allgemein dann gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus dann erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen wir als Verantwortlicher unterliegen, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.  
  </p>
  <p>
    Konkret bedeutet das: Verarbeiten wir die personenbezogenen Daten aufgrund einer <strong>Einwilligung</strong> zur Datenverarbeitung (Art. 6 Absatz 1 Buchstabe a) DSGVO), so endet die Verarbeitung mit Ihrem Widerruf, es sei denn es existiert ein weiterer Rechtsgrund zur Verarbeitung der Daten, was beispielsweise dann der Fall ist, wenn wir zum Zeitpunkt des Widerrufs noch berechtigt sind Ihre Daten zum Zwecke der Vertragserfüllung zu verarbeiten (vgl. hierzu jeweils unten).
  </p>
  <p>
    Verarbeiten wir die Daten aufgrund unserer <strong>berechtigten Interessen</strong> (Art. 6 Absatz 1 Buchstabe f) DSGVO) im Rahmen einer zuvor vorgenommenen Abwägung, so speichern wir diese bis das berechtigte Interesse nicht mehr besteht, die Abwägung zu einem anderen Ergebnis kommt oder Sie nach Art. 21 DSGVO wirksam Widerspruch eingelegt haben (vgl. hierzu den optisch hervorgehobenen „Hinweis auf besonderes Widerspruchsrecht“ unter C.).
  </p>
  <p>
    Verarbeiten wir die Daten zur <strong>Vertragserfüllung</strong>, dann speichern wir die Daten solange bis der Vertrag endgültig erfüllt und abgewickelt ist und keine Ansprüche mehr aus dem Vertrag geltend gemacht werden können, also bis zum Eintritt der Verjährung. Die allgemeine Verjährungsfrist nach § 195 BGB beträgt drei (3) Jahre. Bestimmte Ansprüche, wie beispielsweise Schadensersatzansprüche, verjähren jedoch erst in 30 Jahren (vgl. § 197 BGB). Besteht berechtigter Anlass anzunehmen, dass dies im Einzelfall relevant ist, so speichern wir die personenbezogenen Daten über diesen Zeitraum. Die genannten Verjährungsfristen beginnen mit dem Ende des Jahres (also am 31.12.) in dem der Anspruch entstanden ist und der Gläubiger von den den Anspruch begründenden Umständen und der Person des Schuldners Kenntnis erlangt oder ohne grobe Fahrlässigkeit erlangen müsste. 
  </p>
  <p>
    Wir weisen darauf hin, dass wir daneben auch gesetzlichen <strong>Aufbewahrungspflichten</strong> aus handelsrechtlichen, steuerlichen und buchhalterischen Gründen unterliegen. Diese verpflichten uns als Nachweis für unsere ordnungsgemäße Geschäftstätigkeit bzw. Buchführung bestimmte Daten, zu denen auch personenbezogene Daten gehören können, über einen Zeitraum von sechs (6) bis zu zehn (10) Jahren aufzubewahren. Diese Aufbewahrungsfristen gehen den oben genannten Löschungspflichten vor. Auch die Aufbewahrungsfristen beginnen jeweils mit Schluss des betreffenden Jahres, also am 31.12.
  </p>
</section>

<section>
  <h4 class="legal">A.5 Allgemeines zu den Quellen der personenbezogenen Daten</h4>
  <p>
    Die von uns verarbeiteten personenbezogenen Daten stammen in erster Linie von den betroffenen Personen selbst, beispielsweise indem diese
    <ul>
      <li>als Nutzer unserer Webseite über den Webbrowser und ihr Endgerät (beispielsweise ein PC, ein Smartphone, ein Tablet oder ein Notebook) Informationen, wie beispielsweise die IP-Adresse, an uns bzw. unseren Webserver übermitteln,</li>
      <li>als Kunde mit uns einen Vertrag schließen (wollen),</li>
      <li>als Interessenten Infomaterial oder ein Angebot bei uns anfordern,</li>
      <li>als Pressevertreter Infomaterial, Pressemeldungen, Stellungnahmen o.ä. anfordern,</li>
      <li>als Lieferanten uns vereinbarungsgemäß mit Waren beliefern bzw.</li>
      <li>als Geschäftspartner uns gegenüber Dienstleistungen u.ä. erbringen.</li>
    </ul>
    Nur ganz ausnahmsweise können die von uns verarbeiteten personenbezogenen Daten auch von Dritten stammen, beispielsweise dann, wenn eine Person im Namen eines Dritten handelt.
  </p>
</section>

<section>
  <h4 class="legal">A.6 Empfänger bzw. Kategorien von Empfängern der personenbezogenen Daten</h4>
  <p>
    Ihre personenbezogenen Daten werden an Dritte nur dann weitergegeben oder übermittelt, wenn dies zum jeweiligen Zweck zwingend erforderlich und zulässig ist. An wen wir Daten zu welchem Zweck weitergeben, erläutern wir jeweils im Zusammenhang mit den unten beschriebenen Datenverarbeitungen bzw. bei Übermittlungen ins EU-Ausland zusätzlich im Rahmen dieser Datenschutzerklärung.
  </p>
  <p>
    Kategorien von Empfängern können grundsätzlich sein:
    <ul>
      <li>Dienstleister,</li>
      <li>Lieferanten, Geschäftspartner,</li>
      <li>Steuerberater.</li>
    </ul>
    Abhängig von der Kategorie der Daten, um die es geht, verarbeiten wir personenbezogene Daten zu den folgenden Zwecken und auf der Basis der jeweils genannten Rechtsgrundlage der Datenschutzgrundverordnung (DSGVO):
  </p>
  <p>
    Nutzerdaten: Daten von Nutzern unserer Website werden von uns nicht-personenbezogen erhoben und verarbeitet. Eine Zuordnung zu bestimmten Personen ist uns nicht möglich. Die IP-Adresse wird ausschließlich anonymisiert verarbeitet. Sofern ausnahmsweise doch personenbezogene Daten betroffen sind, so verarbeiten wir diese zur Wahrung unserer berechtigten Interessen auf der Basis des Art. 6 Absatz 1 Buchstabe f) DSGVO. Unsere berechtigten Interessen in diesem Sinne sind unser Interesse an der Sicherheit und Integrität unseres Webauftritts und der Daten auf unserem Webserver (insbesondere Störungs- und Fehlererkennung, sowie Verfolgung von unberechtigten Zugriffen), sowie Marketinginteressen und Interessen zu statistischen Erhebungen (zur Verbesserung unseres Webauftritts und unserer Leistungen und Angebote). Im Rahmen einer Abwägung sind wir zu dem Ergebnis gelangt, dass die Datenverarbeitung zur Wahrung der genannten berechtigten Interessen erforderlich ist und Ihre Interessen oder Grundrechte und Grundfreiheiten, die den Schutz der personenbezogenen Daten erfordern, nicht überwiegen.
  </p>
  <p>
    Interessentendaten/Daten von Pressevertretern: Soweit wir Daten von Interessenten unserer Leistungen oder von Pressevertretern verarbeiten, geschieht dies nur dann, wenn sie diese Daten in einem Eingabefeld oder per E-Mail zum Zwecke der Anfrage an uns eingeben und an uns senden. Diese Eingaben sind freiwillig. Wir verarbeiten diese Daten sodann ausschließlich zur Abwicklung der Anfrage an uns. Die Verarbeitung dieser freiwillig an uns übermittelten Daten zum Zwecke der Informationserteilung über unsere Leistungen erfolgt als vorvertragliche Abwicklung gemäß Art. 6 Absatz 1 Buchstabe b) DSGVO und/oder auf der Basis der von Ihnen durch Übermittlung erteilten Einwilligung gemäß Art. 6 Absatz 1 Buchstabe a) DSGVO.
  </p>
  <p>
    Kundendaten: Die Daten unserer Kunden verarbeiten wir zum Zwecke der Vertragsanbahnung und Vertragsabwicklung  gemäß Art. 6 Absatz 1 Buchstabe b) DSGVO bzw. im Falle eines Kundenkontos (auch) gemäß Art. 6 Absatz 1 Buchstabe a) DSGVO aufgrund erteilter Einwilligung im Rahmen der Registrierung. 
  </p>
  <p>
    Lieferantendaten/Daten von Geschäftspartnern: Die Daten unserer Lieferanten und Geschäftspartner verarbeiten wir zum Zwecke der Vertragsabwicklung gemäß Art. 6 Absatz 1 Buchstabe b) DSGVO und/oder auf der Basis einer erteilten Einwilligung gemäß Art. 6 Absatz 1 Buchstabe a) DSGVO. Dies gilt auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind (bspw. im Rahmen der Erstellung und Verhandlung von Angeboten).
  </p>
</section>

<section>
  <h4 class="legal">A.7 Datenverarbeitung bei Newsletterversand</h4>
  <p>
    Es besteht die Möglichkeit auf unserer Website oder im Rahmen einer Anfrage an uns einen kostenfreien Newsletter zu abonnieren. Dabei werden bei der Anmeldung zum Newsletter die Daten aus der Eingabemaske an uns übermittelt. Es handelt sich hierbei um
    <ul>
      <li>Die E-Mail-Adresse, sowie</li>
      <li>Ihren Vor- und Nachnamen (optional).</li>
    </ul>
  </p>
  <p>
    Bei der Anmeldung zum Newsletter werden außerdem folgende Daten erhoben (Opt-In-Nachweis):
    <ul>
      <li>Ihre IP-Adresse, sowie</li>
      <li>Datum und Uhrzeit Ihrer Registrierung.</li>
    </ul>
    Dies dient dazu Missbrauch der Dienste oder Ihrer E-Mail-Adresse zu verhindern und dazu unserer gesetzlichen Beweispflicht nachzukommen, dass von der E-Mail-Adresse tatsächlich ein Opt-In, also eine ausdrückliche Einwilligung in den Erhalt des Newsletters erfolgt ist.
  </p>
  <p>
    Die Anmeldung zu unserem Newsletter erfolgt in einem sog. Double-Opt-In-Verfahren. Das heißt Sie erhalten nach der Anmeldung eine E-Mail, in der Sie um die Bestätigung Ihrer Anmeldung gebeten werden. Diese Bestätigung ist notwendig, damit sich niemand mit fremden E-Mailadressen anmelden kann. Der Klick auf den Link, mit dem Sie die Anmeldung bestätigen, führt zu einer Datenerhebung Ihrer IP-Adresse und des genauen Zeitpunkts (Datum und Uhrzeit) des Klicks. Diese Datenverarbeitung dient dazu unserer gesetzlichen Beweispflicht nachzukommen, dass von der E-Mail-Adresse tatsächlich ein Opt-In, also eine ausdrückliche Einwilligung in den Erhalt des Newsletters erfolgt ist.
  </p>
  <p>
    Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen.
  </p>
  <p>
    Wenn Sie sich auf unserer Website registrieren und hierbei Ihre E-Mail-Adresse hinterlegen, wird diese in der Folge durch uns für den Versand eines Newsletters verwendet. Über den Newsletter wird dabei ausschließlich Direktwerbung für eigene ähnliche Waren oder Dienstleistungen versendet.
  </p>
  <p>
    Die Daten werden ausschließlich für den Versand des Newsletters verwendet. Eine Weitergabe der Daten an Dritte erfolgt nicht. Eine Ausnahme besteht dann, wenn eine gesetzliche Verpflichtung zur Weitergabe besteht.
  </p>
  <p>
    Zweck der Datenverarbeitung: Die Erhebung und Verarbeitung der E-Mail-Adresse des Nutzers dient dazu, den Newsletter zuzustellen. Wir nutzen die E-Mail-Adresse für Werbezwecke. Die Erhebung von IP-Adresse und Zeitpunkt bei Klick auf den Bestätigungslink in der Double-Opt-In-Mail dient dazu unserer gesetzlichen  Beweispflicht zur Einholung einer ausdrücklichen Einwilligung nachkommen zu können.<br/>
    Die Erhebung sonstiger personenbezogener Daten im Rahmen des Anmeldevorgangs dient dazu, einen Missbrauch der Dienste oder der verwendeten E-Mail-Adresse zu verhindern. Eine mögliche Speicherung über die Abbestellung des Newsletters hinaus für bis zu drei Jahre dient dem Zweck des Nachweises einer ehemals erteilten Einwilligung und einer möglichen Abwehr von Ansprüchen.
  </p>
  <p>
    Rechtsgrundlage der Datenverarbeitung: Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletters durch den Nutzer ist Ihre Einwilligung gemäß Art. 6 Abs. 1 Buchstabe a) DSGVO.<br/>
    Im Falle des vorherigen Erwerbs von gleichartigen Waren oder Dienstleistungen kann Rechtsgrundlage für die Datenverarbeitung im Rahmen des Newsletters auch § 7 Absatz 3 UWG sein.<br/>
    Rechtsgrundlage für die Speicherung von IP-Adresse und Zeitpunkt bei Klick auf den Bestätigungslink in der Double-Opt-In-Mail und für eine mögliche weitere Speicherung für bis zu drei Jahre nach Ihrer Abbestellung des Newsletters ist unser berechtigtes Interesse nach Art. 6 Abs. 1 Buchstabe f) DSGVO. Das berechtigte Interesse besteht in diesem Falle darin eine ehemals von Ihnen gegebene  Einwilligung nachweisen und daraus abgeleitete Ansprüche abwehren zu können.
  </p>
  <p>
    Dauer der Speicherung: Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Ihre E-Mail-Adresse wird demnach solange gespeichert, wie das Abonnement des Newsletters aktiv ist.<br/>
    Wir können die ausgetragenen E-Mailadressen nebst den Daten, die bei Bestätigung der Einwilligung zum Newsletterversand erhoben wurden, bis zu drei Jahren auf Grundlage unserer berechtigten Interessen speichern, bevor wir sie löschen, um eine ehemals gegebene Einwilligung nachweisen zu können. Die Verarbeitung dieser Daten wird auf den Zweck einer möglichen Abwehr von Ansprüchen beschränkt. Ein individueller Löschungsantrag ist jederzeit möglich, sofern zugleich das ehemalige Bestehen einer Einwilligung bestätigt wird.<br/>
    Die sonstigen im Rahmen des Anmeldevorgangs erhobenen personenbezogenen Daten werden in der Regel nach einer Frist von sieben Tagen gelöscht.
  </p>
  <p>
    Widerspruchs- und Beseitigungsmöglichkeit: Das Abonnement des Newsletters kann durch den Nutzer jederzeit kostenlos und formfrei gekündigt werden. Zu diesem Zweck findet sich in jedem Newsletter ein entsprechender Link.<br/>
    Hierdurch wird ebenfalls ein Widerruf der Einwilligung der Speicherung der während des Anmeldevorgangs erhobenen personenbezogenen Daten ermöglicht.
  </p>
</section>

<section>
  <h4 class="legal">A.8 Kontaktaufnahme über E-Mail und Telefonanruf</h4>
  <p>
    Sie können sich über verschiedene Kontaktwege  an uns wenden, wenn Sie möchten. Dazu finden Sie auf der Webseite auch E-Mail-Adresse und Telefonnummer. Auch dann, wenn Sie uns eine E-Mail schreiben oder uns anrufen verarbeiten wir zwangsläufig personenbezogene Daten von Ihnen. Denn es werden zumindest die mit der E-Mail oder Ihrem Telefon übermittelten personenbezogenen Daten von uns bzw. unseren Systemen gespeichert.
  </p>
  <p>
    Eine Weitergabe der Daten an Dritte erfolgt in diesem Zusammenhang nicht. Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet.
  </p>
  <p>
    Zwecke der Datenverarbeitung: Die Verarbeitung der personenbezogenen Daten bei Übermittlung per E-Mail oder Telefon, dient uns zur Bearbeitung Ihrer Kontaktaufnahme und Ihres Anliegens. Wir benötigen zwingend Ihre E-Mailadresse oder Ihre Telefonnummer, um überhaupt antworten zu können. Hierin liegt auch das berechtigte Interesse an der Verarbeitung der Daten. 
  </p>
  <p>
    Rechtsgrundlage für die Datenverarbeitung: Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung nach Art. 6 Abs. 1 Buchstabe a) DSGVO, die Sie durch die aktive Kontaktaufnahme erteilt haben.<br/>
    Zielt der Kontakt bzw. Ihre Anfrage auf den Abschluss eines Vertrages ab, so ist Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 Buchstabe b) DSGVO (Durchführung vorvertraglicher Maßnahmen).
  </p>
  <p>
    Dauer der Speicherung: Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind.<br/>
    Für die personenbezogenen Daten, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit Ihnen beendet ist und wir danach eine Karenzzeit von bis zu 3 Monaten abgewartet haben, ob wir ggf. auf Ihr Anliegen bzw. die Details der Kommunikation nochmals zurückgreifen müssen. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist. <br/>
    Bei einem eingehenden Telefonanruf oder bei einem ausgehenden Anruf bei uns wird Ihre Telefonnummer oder Ihr bei Ihrem Telefonanbieter hinterlegter Name/Firmenname sowie Datum und Uhrzeit des Anrufs in unserer Telefonanlage in einem sog. Ringspeicher gespeichert, der die ältesten Daten mit neuen Daten überschreibt. Im Regelfall führt dies in der Telefonanlage zu einer automatischen Löschung der Daten nach ca. 3-4 Monaten.<br/>
    Die Kommunikation kann ggf. aus handelsrechtlicher oder steuerrechtlicher Sicht einer Aufbewahrungspflicht unterliegen, die sodann vorgeht (vgl. die Ausführungen oben unter „Allgemeines zu Datenlöschung und Speicherdauer“).
  </p>
  <p>
    Widerspruchs- und Beseitigungsmöglichkeit: Sie haben jederzeit die Möglichkeit, eine erteilte Einwilligung zur Verarbeitung der personenbezogenen Daten zu widerrufen bzw. der weiteren Datenverarbeitung wegen berechtigten Interesses zu widersprechen (vgl. den Hinweis auf das besondere Widerspruchsrecht unter C. dieser Datenschutzhinweise). In einem solchen Fall kann die Konversation nicht fortgeführt werden. <br/>
    Der Widerruf der Einwilligung bzw. der Widerspruch der weiteren Datenverarbeitung werden durch formlose Mitteilung an uns (bspw. per E-Mail) ermöglicht.<br/>
    Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gelöscht.
  </p>
</section>
<section>
  <h3 class="legal">B. Umfang der Verarbeitung personenbezogener Daten über unsere Website & Smartphone Apps</h3>
  <p>
    Wir erheben und verwenden personenbezogene Daten der Nutzer im Rahmen der Nutzung unserer Website grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die Erhebung und Verwendung personenbezogener Daten unserer Nutzer erfolgt in der Regel nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist und/oder die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.
  </p>
  <h4 class="legal">B.1 Bereitstellung der Website und Erstellung von Log-Files</h4>
  <p>
    Bei jedem Aufruf der Internetseite erfasst unser System aus technischen Gründen automatisch Daten und Informationen. Diese werden in den Logfiles des Servers gespeichert. Es handelt sich dabei um:  
  </p>
  <ul>
    <li>Datum und Uhrzeit des Zugriffs,</li>
    <li>URL (Adresse) der verweisenden Website (Referrer),</li>
    <li>Webseiten, die vom System des Nutzers über unsere Website aufgerufen werden,</li>
    <li>Bildschirmauflösung des Nutzers,</li>
    <li>abgerufene Datei(en) und Meldung über den Erfolg des Abrufs,</li>
    <li>Menge der gesendeten Daten,</li>
    <li>den Internet-Service Provider des Nutzers,</li>
    <li>Browser, Browsertyp und Browserversion, Browser-Engine und Engine-Version,</li>
    <li>Betriebssystem, Betriebssystem-Version, Betriebssystem-Typ, sowie</li>
    <li>die anonymisierte IP-Adresse und den Internet-Service-Provider des Nutzers.</li>
  </ul>
  <p>
    Diese Daten werden getrennt von anderen Daten verarbeitet. Eine Verarbeitung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt. Eine Zuordnung dieser Daten zu einer bestimmten Person ist uns nicht möglich.
  </p>
  <p>
    Zwecke der Datenverarbeitung: Die vorübergehende Verarbeitung der Daten durch das System ist notwendig, um eine Auslieferung der Inhalte unserer Internetseite an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung gespeichert bleiben.<br/>
    Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung unseres Angebots und der Website und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.
  </p>
  <p>
    Rechtsgrundlage der Datenverarbeitung: Die vorübergehende Speicherung der Daten und den Logfiles erfolgt auf Basis der Rechtsgrundlage des Art. 6 Absatz 1 Buchstabe f) DSGVO. Unser überwiegendes berechtigtes Interesse an dieser Datenverarbeitung liegt in den zuvor genannten Zwecken.
  </p>
  <p>
    Dauer der Speicherung: Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige Sitzung beendet ist. Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.
  </p>
  <p>
    Widerspruchs- und Beseitigungsmöglichkeit: Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers hier keine Widerspruchsmöglichkeit. Der Nutzer kann jedoch jederzeit die Nutzung der Website beenden und damit die weitere Erhebung der genannten Daten verhindern.
  </p>
</section>
<section>
  <h4 class="legal">B.2 Nutzung von Cookies</h4>
  <p>
    Beim Aufruf einzelner Seiten werden von uns so genannte Cookies verwendet. Das sind kleine Textdateien, die auf dem Endgerät (PC, Smartphone, Tablet etc.) des Nutzers abgelegt werden. Ruft ein Nutzer eine Website auf, so kann ein Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen der Website ermöglicht. 
  </p>
  <p>
    Daneben kann es sein, dass Cookies von Drittanbietern verwendet werden. Ist dies der Fall, so informieren wir Sie hierzu in diesen Datenschutzhinweisen gesondert bei der Information über die jeweiligen Drittanbieter-Tools (wie bspw. Analyse-Tools, Plugins o.ä.).
  </p>
  <p>
    Wir selbst setzen ausschließlich technisch notwendige Cookies ein. Dabei handelt es sich ausschließlich um Session-Cookies, die nur für die Dauer des Besuchs gespeichert werden. Ein Session Cookie wird verwendet, um die persönlichen Eistellungen des Nutzers für die Dauer einer Session zu speichern.
  </p>
  <p>
    Zweck der Datenverarbeitung: Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung der Website für die Nutzer zu vereinfachen. Einige Funktionen unserer Website können ohne den Einsatz von Cookies nicht angeboten werden.<br/>
    Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur Erstellung von Nutzerprofilen verwendet.
  </p>
  <p>
    Rechtsgrundlage der Datenverarbeitung: Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies ist Art. 6 Abs. 1 Buchstabe f) DSGVO, also ein berechtigtes Interesse unsererseits. Unser berechtigtes Interesse liegt in den oben genannten Zwecken.
  </p>
  <p>
    Dauer der Speicherung: Die von uns verwendeten Cookies werden nach dem Ende der Browser-Sitzung, also nach dem Schließen Ihres Browsers, wieder gelöscht (so genannte Sitzungs-Cookies).
  </p>
  <p>
    Widerspruchs- und Beseitigungsmöglichkeit: Cookies werden auf Ihrem Rechner gespeichert. Daher haben Sie die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung der Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen. Eine solche „Do-Not-Track“-Einstellung Ihres Browsers wird von uns als Widerspruch zur weiteren Erhebung und Nutzung Ihrer personenbezogenen Daten verstanden. Hinweis: Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle Funktionen der Website vollumfänglich genutzt werden.
  </p>
</section>
<section>
  <h4 class="legal">B.3 Login / Registrierung</h4>
  <p>
    Um die Leistungen auf unserer Website nutzen zu können ist eine Registrierung erforderlich. Im Rahmen der Registrierung werden bestimmte Informationen abgefragt. Pflichtinformationen sind mit einem Sternchen gekennzeichnet. Die Daten werden dabei in eine Eingabemaske eingegeben und an uns übermittelt und gespeichert. Eine Weitergabe der Daten an Dritte findet nicht statt. 
  </p>
  <p>
    Folgende Daten werden im Rahmen des Registrierungsprozesses erhoben:
    <ul>
      <li>Vor- und Nachname</li>
      <li>Passwort</li>
      <li>E-Mail</li>
    </ul>
    Passwörter werden von uns nie im Klartext gespeichert, sondern mit einem zusätzlichen „Salt“, einer sicheren Verschlüsselungsmethode, gehasht.
  </p>
  <p>
    Im Zeitpunkt der Registrierung werden zudem folgende Daten gespeichert:
    <ul>
      <li>IP-Adresse des Nutzers</li>
      <li>Datum und Uhrzeit der Registrierung/der Logins.</li>
    </ul>
  </p>
  <p>
    Im Rahmen des Registrierungsprozesses wird eine Einwilligung des Nutzers zur Verarbeitung dieser Daten eingeholt.
  </p>
  <p>
    Zweck der Datenverarbeitung: Die Registrierung des Nutzers dient dem Abschluss eines Nutzungsvertrages hinsichtlich der Funktionalitäten der Website sowie der Bereitstellung eines Kundenkontos. Die Speicherung des Zeitpunkts der Registrierung und der Logins dient der Sicherheit und Betrugsprävention der Seite.
  </p>
  <p>
    Rechtsgrundlage der Datenverarbeitung: Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 Buchstabe a) DSGVO. Dient die Registrierung der Erfüllung eines Vertrages, dessen Vertragspartei Sie sind oder der Durchführung vorvertraglicher Maßnahmen, so ist zusätzliche Rechtsgrundlage für die Verarbeitung der Daten Art. 6 Abs. 1 Buchstabe b) DSGVO (Vertragserfüllung).
  </p>
  <p>
    Dauer der Speicherung: Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Dient die Registrierung nicht zum Abschluss eines Vertrages mit dem Nutzer, dann ist dies für die während des Registrierungsvorgangs erhobenen Daten dann der Fall, wenn die Registrierung aufgehoben oder abgeändert wird bzw. der Nutzer uns gegenüber wirksam den Widerspruch seiner Einwilligung erklärt. Dient die Registrierung zum Abschluss eines Vertrages mit dem Nutzer, dann ist dies dann der Fall, wenn die Daten für die Durchführung des Vertrages nicht mehr erforderlich sind. Auch nach Beendigung des Vertrags kann eine Erforderlichkeit, personenbezogene Daten des Vertragspartners zu speichern, bestehen, um vertraglichen oder gesetzlichen Verpflichtungen nachzukommen. Wir weisen auf die Ausführungen oben unter „Datenlöschung und Speicherdauer“ hin.
  </p>
  <p>
    Widerspruchs- und Beseitigungsmöglichkeit: Ohne Registrierung ist die Nutzung unseres Service nicht möglich. Wenn Sie die Datenverarbeitung vermeiden möchten, können Sie unsere Leistungen leider nicht in Anspruch nehmen. Sie können nach Registrierung Ihren Account auch wieder löschen und damit die weitere Datenverarbeitung. Dies können Sie über Ihren Nutzer-Account auf unserer Website oder durch entsprechende Mitteilung an uns veranlassen.<br/>
    Sind die Daten zur Erfüllung eines Vertrages oder zur Durchführung vorvertraglicher Maßnahmen für uns noch erforderlich, kann eine Löschung der Daten erst zu dem Zeitpunkt erfolgen, zu dem keine Rechtsgrundlage zur Datenspeicherung mehr besteht.
  </p>
</section>
<section>
  <h4 class="legal">B.4 Bestellung, Kauf von Features</h4>
  <p>
    Gegebenenfalls besteht die Möglichkeit nach Registrierung auf der Website bestimmte Leistungen erwerben. Dabei erfolgt eine Verarbeitung der von Ihnen eingegebenen Daten, sowie Daten zu von Ihnen ausgewählten Features zur Durchführung der Angebotslegung, des Vertragsabschlusses, der Vertragserfüllung sowie zur Erfüllung eventueller nachvertraglicher Verpflichtungen vor Vertragsabschluss auf Grundlage des von Ihnen initiierten vorvertraglichen Verhältnisses und nach Vertragsabschluss aufgrund des Vertrages gem. Art. 6 Abs. 1 Buchstabe b) DSGVO.
  </p>
  <p>
    Wenn Sie nach Registrierung ein kostenpflichtiges Feature nutzen wollen, werden folgende Daten von Ihnen erhoben:
    <ul>
      <li>• Abrechnungsrelevante Daten (Name, Straße, PLZ, Stadt, Land, Firma, USt-ID-Nummer, Email)</li>
      <li>Art des gewählten Bezahlsystems</li>
    </ul>
    Es besteht keine gesetzliche oder vertragliche Verpflichtung zur Bereitstellung der personenbezogenen Daten. Die Bereitstellung ist jedoch zum Vertragsabschluss erforderlich. Die Nichtbereitstellung hat zur Folge, dass kein Vertragsabschluss erfolgen kann.
  </p>
  <p>
    Zweck der Datenverarbeitung: Die Datenverarbeitung erfolgt zum Zwecke der Bestellabwicklung des von Ihnen gewählten Features oder Services.
  </p>
  <p>
    Rechtsgrundlage der Datenverarbeitung: Rechtsgrundlage für die Verarbeitung der Daten ist Art. 6 Abs. 1 Buchstabe b) DSGVO. Die Datenverarbeitung ist zur Erfüllung eines Vertrages, dessen Vertragspartei Sie sind, erforderlich.
  </p>
  <p>
    Dauer der Speicherung: Wenn der Kauf des Features über einen bestehenden Kunden-Account erfolgt ist oder ein Kunden-Account zur Abwicklung des Kaufs erstellt wurde, erfolgt die Verarbeitung Ihrer personenbezogenen Daten bis zur Löschung Ihres Kunden-Accounts. Die Benutzerkonten registrierter Benutzer bleiben bis zur Löschung des Kontos durch den Benutzer bestehen. Vertragsdaten werden bis zur Verjährung möglicher nachvertraglicher Verpflichtungen verarbeitet.
  </p>
  <p>
    Widerspruchs- und Beseitigungsmöglichkeit: Sie haben jederzeit die Möglichkeit, Ihren Account zu löschen und das Vertragsverhältnis zu beenden und damit auch die Datenverarbeitung, es sie denn, zu diesem Zeitpunkt wäre die Verarbeitung der Daten aus einem anderen Rechtsgrund, bspw. zu Vertragsabwicklungs- oder Archivierungszwecken noch erforderlich.
  </p>
</section>
<section>
  <h4 class="legal">B.5 Zahlungsabwicklung auf der Seite</h4>
  <p>
    Auf unserer Website haben Sie die Möglichkeit, direkt einen Zahlungsvorgang auszulösen. Je nachdem, welche Zahlungsart Sie im Bestellprozess auswählen, geben wir zur Abwicklung von Zahlungen die hierfür erhobenen Zahlungsdaten an das mit der Zahlung beauftragte Kreditinstitut bzw. den ausgewählten Zahlungsdienstleister weiter. Das tun wir zum Zwecke der Abwicklung der Bestellung und damit des Vertrages mit Ihnen und somit nach Artikel 6 Absatz 1 Satz 1 Buchstabe b) DSGVO.
  </p>
  <p>
    Kreditkartendaten und sonstige Zahlungsdaten werden nicht von oder bei uns gespeichert, sondern nur vom Zahlungsanbieter.
  </p>
  <p>
    Zum Teil erheben die ausgewählten Zahlungsdienstleister diese Daten auch selbst, soweit Sie dort ein Konto anlegen bzw. schon angelegt haben. In diesem Fall müssen Sie sich im Bestellprozess mit Ihren Zugangsdaten bei dem Zahlungsdienstleister anmelden. Es gilt insoweit die Datenschutzerklärung des jeweiligen Zahlungsdienstleisters.
  </p>
  <p>
    Rechtsgrundlage der Datenverarbeitung: Rechtsgrundlage für die Verarbeitung der Daten ist Art. 6 Abs. 1 Buchstabe b) DSGVO. Die Datenverarbeitung ist zur Erfüllung eines Vertrages, dessen Vertragspartei Sie sind, erforderlich.
  </p>
  <p>
    Bei Zahlung via PayPal, Kreditkarte via PayPal, Lastschrift via PayPal oder "Kauf auf Rechnung" via PayPal geben wir Ihre Zahlungsdaten im Rahmen der Zahlungsabwicklung an die PayPal (Europe) S.à r.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg (nachfolgend "PayPal"), weiter. PayPal behält sich für die Zahlungsmethoden Kreditkarte via PayPal, Lastschrift via PayPal oder – falls angeboten – "Kauf auf Rechnung" via PayPal die Durchführung einer Bonitätsauskunft vor. Das Ergebnis der Bonitätsprüfung in Bezug auf die statistische Zahlungsausfallwahrscheinlichkeit verwendet PayPal zum Zwecke der Entscheidung über die Bereitstellung der jeweiligen Zahlungsmethode. Die Bonitätsauskunft kann Wahrscheinlichkeitswerte enthalten (sog. Score-Werte). Soweit Score-Werte in das Ergebnis der Bonitätsauskunft einfließen, haben diese ihre Grundlage in einem wissenschaftlich anerkannten mathematisch-statistischen Verfahren. In die Berechnung der Score-Werte fließen unter anderem Anschriftendaten ein. Weitere datenschutzrechtliche Informationen, unter anderem zu den verwendeten Auskunfteien, entnehmen Sie bitte der <a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full" target="paypal">Datenschutzerklärung von PayPal</a>.
  </p>
  <p>
    Bei Zahlung via Stripe werden Ihre Zahlungsdaten an die Betreiberfirma Stripe, Inc., 510 Townsend Street, San Francisco, CA 94103, USA (nachfolgend "Stripe") weitergegeben. Informationen zum Datenschutz und zur Datenverarbeitung bei Stripe können Sie direkt beim Anbieter unter <a href="https://stripe.com/de/privacy" target="_stripe">https://stripe.com/de/privacy</a> in Erfahrung bringen. Stripe hat sich dem EU-U.S. Privacy Shield Framework und dem Swiss-U.S. Privacy Shield angeschlossen. Stripe befolgt die Privacy Shield Principles einschließlich der ergänzenden Grundsätze für personenbezogene Daten, die von Stellen im Europäischen Wirtschaftsraum (EWR), dem Vereinigten Königreich ("UK") und der Schweiz übermittelt werden.
  </p>
  <p>
    Weitere Informationen, wie die Dauer der Speicherung, die ggf. weiteren Zwecke der Datenverarbeitung etc. können Sie bei den Datenschutzhinwiesen des gewählten Zahlungsanbieters ersehen.
  </p>
  <p>
    Widerspruchs- und Beseitigungsmöglichkeit: Sie können die Datenverarbeitung vermeiden, indem Sie keine Bestellung bei uns auslösen.
  </p>
</section>
<section>
  <h4 class="legal">B.6 Verschlüsselung der Website und der Kommunikation</h4>
  <p>
    Die Website und damit die Datenübermittlungen über diese sind nach dem SSL-Standard (SSL 1.2 und höher) verschlüsselt.
  </p>
</section>
<section>
  <h4 class="legal">B.7 Übermittlung personenbezogener Daten an ein Drittland (EU-Ausland)</h4>
  <p>
    Personenbezogenen Daten werden ggf. auch ins EU-Ausland, genau gesagt in die Vereinigten Staaten von Amerika (USA) übermittelt.
  </p>
  <p>
    Die Website wird über Amazon Web Services (AWS) gehostet. Die Daten liegen zwar originär in Deutschland und wir nutzen einen Tarif von AWS, der eine Datenverarbeitung ausschließlich innerhalb der EU verspricht, jedoch kann eine Datenübermittlung in die USA zu Amazon.com, Inc., 2021 Seventh Ave Seattle, Washington 98121, USA zumindest nicht ganz ausgeschlossen werden.
  </p>
  <p>
    AWS hat hierfür mit uns die EU-Standarddatenschutzklauseln und weitere Klauseln vereinbart, um ein ausreichendes Schutzniveau für den ggf. erfolgenden Datentransfer in die USA zu gewährleisten. Überdies wurden im Falle von Auftragsverarbeitungen mit AWS ein entsprechender Auftragsverarbeitungsvertrag zur Sicherung der Daten und unserer Weisungsrechte geschlossen.
  </p>
</section>

<section>
  <h3 class="legal">C. Betroffenenrechte</h3>
  <p>
    Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie „Betroffener“ und es stehen Ihnen folgende Rechte gegenüber uns als Verantwortlichen zu:
  </p>
</section>
<section>
  <h4 class="legal">C.1 Recht auf Auskunft</h4>
  <p>
    Sie haben das Recht, von uns unentgeltlich eine Bestätigung darüber zu erhalten, ob wir Sie betreffende personenbezogene Daten verarbeiten. Ist dies der Fall, dann haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten und auf weitere Informationen, die Sie Art. 15 DSGVO entnehmen können. Sie können sich hierfür per Post oder per E-Mail an uns wenden.
  </p>
</section>
<section>
  <h4 class="legal">C.2 Recht auf Berichtigung</h4>
  <p>
    Sie haben das Recht, von uns unverzüglich die Berichtigung Sie betreffender unrichtiger personenbezogener Daten zu verlangen. Ebenso haben Sie das Recht – unter Berücksichtigung der oben genannten Zwecke der Verarbeitung – die Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer ergänzenden Erklärung – zu verlangen. Sie können sich hierfür per Post oder per E-Mail an uns wenden.
  </p>
</section>
<section>
  <h4 class="legal">C.3 Recht auf Löschung</h4>
  <p>
    Sie haben das Recht, die unverzügliche Löschung der Sie betreffenden personenbezogenen Daten zu verlangen, wenn eine der Voraussetzungen des Art. 17 DSGVO vorliegt. Sie können sich hierfür per Post oder per E-Mail an uns wenden.
  </p>
</section>
<section>
  <h4 class="legal">C.4 Recht auf Einschränkung der Verarbeitung</h4>
  <p>
    Sie haben das Recht, von uns die Einschränkung der Verarbeitung zu verlangen, wenn eine der Voraussetzungen des Art. 18 DSGVO vorliegt. Sie können sich hierfür per Post oder per E-Mail an uns wenden.
  </p>
</section>
<section>
  <h4 class="legal">C.5 Recht auf Unterrichtung</h4>
  <p>
    Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist dieser verpflichtet, allen Empfängern, denen die Sie betreffenden personenbezogenen Daten offengelegt wurden, diese Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden.<br/>
    Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese Empfänger unterrichtet zu werden.
  </p>
</section>
<section>
  <h4 class="legal">C.6 Recht auf Datenübertragbarkeit</h4>
  <p>
    Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und Sie haben das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns zu übermitteln, wenn die Voraussetzungen des Art. 20 DSGVO vorliegen. Sie können sich hierfür per Post oder per E-Mail an uns wenden.
  </p>
</section>
<section>
  <h4 class="legal">C.7 Widerspruchsrecht bei Verarbeitung wegen berechtigtem Interesse, sowie gegen Direktwerbung</h4>
  <div class="alert alert-info">
    <p>
      Soweit wir ausnahmsweise personenbezogene Daten auf der Basis des Art. 6 Absatz 1 Buchstabe f) DSGVO verarbeiten (also wegen berechtigten Interessen), haben Sie das Recht <strong>jederzeit</strong> aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Verarbeitung der sie betreffenden personenbezogenen Daten bei uns <strong>Widerspruch</strong> einzulegen. Wenn wir keine zwingenden schutzwürdigen Gründe für die weitere Verarbeitung nachweisen können, die Ihre Interessen, Rechte und Freiheiten überwiegen oder aber, wenn wir die betreffenden Daten von Ihnen zum Zwecke der Direktwerbung verarbeiten, so werden wir Ihre Daten dann nicht mehr verarbeiten (vgl. Art. 21 DSGVO). Sie können sich hierfür per Post oder per E-Mail an uns wenden.
    </p>
    <p>
      Als Widerspruch in diese Sinne gilt auch ein technisches Verfahren, das Sie einsetzen, bspw. eine eindeutige technische Information die Ihr Webbrowser uns übermittelt („Do-Not-Track“-Mitteilung).
    </p>
    <p>
      Werden personenbezogene Daten verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
    </p>
  </div>
</section>
<section>
  <h4 class="legal">C.8 Widerrufsrecht bei erteilter Einwilligung</h4>
  <p>
    Sie haben das Recht, eine erteilte Einwilligung in die Erhebung und Verwendung personenbezogener Daten mit Wirkung für die Zukunft jederzeit zu widerrufen. Sie können sich hierfür per Post oder per E-Mail an uns wenden. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung wird dadurch nicht berührt.
  </p>
</section>
<section>
  <h4 class="legal">C.9 Automatisierte Entscheidungsfindung einschließlich Profiling</h4>
  <p>
    Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt. Es sei denn die Entscheidung ist für den Abschluss oder die Erfüllung eines Vertrags zwischen Ihnen und uns erforderlich, sie ist aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten, denen wir unterliegen, zulässig und diese Rechtsvorschriften enthalten angemessene Maßnahmen zur Wahrung Ihrer Rechte und Freiheiten sowie Ihrer berechtigten Interessen oder die Entscheidung erfolgt mit Ihrer ausdrücklichen Einwilligung.<br/>
    Eine solche automatisierte Entscheidungsfindung findet durch uns nicht statt.
  </p>
</section>
<section>
  <h4 class="legal">C.10 Freiwilligkeit der Bereitstellung der Daten</h4>
  <p>
    Ist die Bereitstellung der personenbezogenen Daten gesetzlich oder vertraglich vorgeschrieben, so weisen wir grundsätzlich bei der Erhebung der Daten darauf hin. Teilweise sind die von uns erhobenen Daten für einen Vertragsabschluss erforderlich, nämlich dann, wenn wir anderweitig unsere vertragliche Verpflichtung Ihnen gegenüber nicht oder nicht ausreichend erfüllen könnten. Es besteht für Sie keine Verpflichtung die personenbezogenen Daten bereitzustellen. Jedoch kann die Nichtbereitstellung dazu führen, dass wir eine von Ihnen gewünschte Leistung, Handlung, Maßnahme o.ä., nicht durchführen oder anbieten können oder ein Vertragsschluss mit Ihnen nicht möglich ist.
  </p>
</section>
<section>
  <h4 class="legal">C.11 Beschwerderecht bei einer Aufsichtsbehörde</h4>
  <p>
    Sie haben jederzeit unbeschadet anderweitiger Rechte das Recht auf Beschwerde bei einer Aufsichtsbehörde für den Datenschutz, insbesondere in dem Mitgliedsstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der sie betreffenden personenbezogenen Daten gegen das Datenschutzrecht verstößt.
  </p>
  <p>
    Für uns ist zuständig:<br/>
    Der Landesbeauftragte für den Datenschutz und die Informationsfreiheit Baden-Württemberg, <br/>
    Königstraße 10A<br/>
    70173 Stuttgart<br/>
    Webseite: <a href="www.baden-wuerttemberg.datenschutz.de" target="_bwd">www.baden-wuerttemberg.datenschutz.de</a>.<br/>
    <br/>
    Stand unserer Datenschutzhinweise: 30.03.2021.
  </p>
</section>
